PORT=3000
DATABASE_URL="postgresql://felipe.vaz:0GuGP8l4LCO7fkzSSPg3b9Dq@148.113.200.142:3042/spd_ecommerce?schema=public"
JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"
MAIL_HOST="smtp.seuprovedor.com"
MAIL_PORT="587"
MAIL_SECURE="false"
MAIL_USER="usuario"
MAIL_PASS="senha"
MAIL_FROM="SPD Ecommerce <no-reply@spd.local>"
CLOUDFLARE_R2_ACCOUNT_ID="5d13ab732e8330d65e96ecc1b815f740"
CLOUDFLARE_R2_BUCKET_NAME="spd-ecommerce"
CLOUDFLARE_R2_ACCESS_KEY_ID="e04d582d8549d8010720d7c24e6429a3"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="9cae3d6cd5dfcc2f0ce6c770e382701aeed4ccf4558696ecb0e945d8677504df"
CLOUDFLARE_R2_ENDPOINT="https://5d13ab732e8330d65e96ecc1b815f740.r2.cloudflarestorage.com"
CLOUDFLARE_R2_PUBLIC_URL="https://pub-70e641e33e43413080e6f54b6d5db7af.r2.dev"
